<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>NeoQuest 3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <!-- https://material.io/tools/icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://picturepan2.github.io/spectre/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/spectre-icons.min.css') }}">
</head>
<body>
    <div id="header">
        <h1>NeoQuest 3 ::: {{ title }}</h1>
        <p>This site is currently being built by our hired professionally-trained gophers.</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column col-2">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}"><i class="material-icons">local_pizza</i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('view_tavern') }}"><i class="material-icons">local_pizza</i> Tavern</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('view_my_pets') }}"><i class="material-icons">local_pizza</i> My Party</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('view_vocations') }}"><i class="material-icons">dashboard</i> Training Grounds</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="material-icons">dashboard</i> Boards</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="material-icons">casino</i> Rumors</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"><i class="material-icons">help_outline</i> Help</a>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}"><i class="material-icons">help_outline</i> Login</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}"><i class="material-icons">help_outline</i> Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="column col-8">
                {% block content %}{% endblock %}
            </div>
            <div class="column col-2"></div>
        </div>
    </div>
    <div id="footer">
        <p>Created for the love of Neopets and tech.</p>
    </div>
</body>
</html>
