{% extends "base.html" %}

{% block content %}
<div id="banner" class="columns">
    <div class="column col-3">
        <img src="http://images.neopets.com/galleryofheroes/heroes/garin.jpg" />
        <p>
            The most virtuous heroes and the most trecherous villains all had to start somewhere.
            Adventure awaits!
        </p>
    </div>
    <div class="column col-6">
        <h1>Hire a New Adventurer</h1>
        {% if not form %}
        <p>
            Alas, my friend, it looks like you have a full party!
            Too many cooks in the kitchen spoils the broth - or at least
            that's what Olag says.
        </p>
        {% else %}
        <form action="" method="post" novalidate>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.species.label }}<br>
                {{ form.species }}
                {% for error in form.species.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.color.label }}<br>
                {{ form.color }}
                {% for error in form.color.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.gender.label }}<br>
                {{ form.gender }}
                {% for error in form.gender.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
    </div>
    <div class="column col-3"></div>
</div>
{% endblock %}
