{% extends "base.html" %}

{% block content %}
<div id="banner" class="columns">
    <div class="column col-3"></div>
    <div class="column col-6">
        <center>
            <div class="card">
                <div class="card-image">
                    <img src="http://images.neopets.com/evil/galem.jpg" class="img-responsive"/>
                </div>
                <div class="card-body">
                    Hey, I haven't seen you around these parts.
                    You say you're here for adventure?
                    Bah, you wouldn't make it five minutes before you're back here crying to me.
                    Step right in, and don't say I didn't warn you.
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Enter</button>
                </div>
            </div>
        </center>
    </div>
    <div class="column col-3"></div>
</div>
{% endblock %}
