{% extends "base.html" %}

{% block content %}
<div id="banner" class="columns">
    <div class="column col-3">
        <a href="{{ url_for('view_pet_creation') }}">
            <img src="http://images.neopets.com/galleryofheroes/heroes/garin.jpg"/>
            <h2>Recruit a New Adventurer</h2>
        </a>
        <p>
            The most virtuous heroes and the most trecherous villains all had to start somewhere.
            Adventure awaits!
        </p>
    </div>
    <div class="column col-3">
        <img src="http://images.neopets.com/galleryofheroes/heroes/talek.gif"/>
        <h2>Recruit a Veteran</h2>
        <p>
            Sometimes an adventurer is not a good fit for the party.
        </p>
    </div>
    <div class="column col-3">
        <img src="http://images.neopets.com/evil/garoo.jpg"/>
        <h2>Exile an Adventurer</h2>
        <p>
            Experience and grit may be what a party needs to really take off.
        </p>
    </div>
</div>
{% endblock %}
