{% extends "base.html" %}

{% block content %}
<div id="banner" class="columns">
    <div class="column col-12">
        {% for vocation in skills %}
        <h2>{{ vocation|capitalize }}</h2>
        <div class="columns">
            <div class="column col-6">
                <img src="{{ pet_desc.generate_vocation_image_url(vocation) }}"/>
            </div>
            <div class="column col-6">
                <h3>Skills</h3>
                {% for skill in skills[vocation] %}
                <div class="accordion">
                    <input type="checkbox" id="accordion-{{vocation}}-{{pet_desc.code_friendly_string(skill)}}" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="accordion-{{vocation}}-{{pet_desc.code_friendly_string(skill)}}">
                        <i class="icon icon-arrow-right mr-1"></i>
                        {{ skill }}
                    </label>
                    <div class="accordion-body">
                        <p>{{ skills[vocation][skill]['description'] }}</p>
                        <ul>
                            {% for level in skills[vocation][skill]['levels'] %}
                            <li>{{ level }} - {{ skills[vocation][skill]['levels'][level] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
